{
	Filter = {
		Executables = (
			"callservicesd",
			"CommCenter",
			"CommCenterClassic",
			"Diagnostics",
			"DuetHeuristic",
			"absd",
			"adid",
			"accountsd",
			"AccountMigrator",
			"afc2d",
			"afcd",
			"aggregated",
			"AirFair",
			"AirFair2",
			"akd",
			"amfid",
			"aosnotifyd",
			"AppStore",
			"AppleIDAuthAgent",
			"AppleIDAuthentication",
			"apsd",
			"askpermissiond",
			"assetsd",
			"AssetCacheLocatorService",
			"Assistant",
			"atc",
			"awdd",
			"backupd",
			"bird",
			"calaccessd",
			"CaptiveNetworkSupport",
			"cdpd",
			"cfprefsd",
			"cloudd",
			"CloudKeychainProxy",
			"cmfsyncagent",
			"companion_proxy",
			"com.apple.MobileInstallationHelperService",
			"com.apple.mobile.lockdown",
			"com.apple.lakitu",
			"com.apple.sbd",
			"configd",
			"coreauthd",
			"coreduetd",
			"diagnosticd",
			"discoveryd_helper",
			"distnoted",
			"duetexpertd",
			"EscrowSecurityAlert",
			"familycircled",
			"familynotificationd",
			"fairplayd.H2",
			"findmydeviced",
			"FindMyiPhone",
			"FindMyiPhoneLockScreen",
			"FindMyFriends",
			"fmfd",
			"fmflocatord",
			"followupd",
			"fseventsd",
			"gamed",
			"geod",
			"hangtracerd",
			"iapauthd",
			"iaptransportd",
			"iCloudDriveSettings",
			"identityservicesd",
			"IDSKeychainSyncingProxy",
			"imagent",
			"IMRemoteURLConnectionAgent",
			"IMDMessageServicesAgent",
			"InCallService",
			"ind",
			"installd",
			"itunescloudd",
			"itunesstored",
			"kbd",
			"keybagd",
			"lakitu",
			"lskdd",
			"locationd",
			"lockbot",
			"lockdownd",
			"lsd",
			"misagent",
			"misd",
			"mmaintenanced",
			"mobileactivationd",
			"mobile_installation_proxy",
			"mobile_house_arrest",
			"mobile_assertion_agent",
			"mobileassetd",
			"MobileMail",
			"MobileNotes",
			"MobileActivationDaemon",
			"MobileGestaltHelper",
			"MobilePhone",
			"MobileSMS",
			"mstreamd",
			"nanoregistryd",
			"navd",
			"nehelper",
			"networkd",
			"networkd_privileged",
			"notifyd",
			"NPKCompanionAgent",
			"nsurlsessiond",
			"nsurlstoraged",
			"ondemandd",
			"online-auth-agent",
			"OTAPKIAssetTool",
			"passd",
			"pfd",
			"PhoneBridgeSettings",
			"pipelined",
			"pkd",
			"Preferences",
			"PreferencesAssistant",
			"profiled",
			"ptpd",
			"replayd",
			"routined",
			"sbd",
			"securityd",
			"Setup",
			"sharingd",
			"SIMSettings",
			"softwarebehaviorservicesd",
			"softwareupdateservicesd",
			"storebookkeeperd",
			"subridged",
			"swcd",
			"symptomsd",
			"syncdefaultsd",
			"syslog_relay",
			"tccd",
			"timed",
			"tipsd",
			"USBDeviceConfiguration",
			"useractivityd",
			"UserEventAgent",
			"UsageSettings",
			"vmd",
			"wcd",
		);
	};
}
