{
	Filter = {
		Executables = (
			"CommCenter",
			"Diagnostics",
			"DuetHeuristic",
			"absd",
			"adid",
			"accountsd",
			"afc2d",
			"afcd",
			"akd",
			"amfid",
			"aosnotifyd",
			"AppStore",
			"AppleIDAuthAgent",
			"apsd",
			"AssetCacheLocatorService",
			"atc",
			"backupd",
			"bird",
			"calaccessd",
			"cdpd",
			"cloudd",
			"cmfsyncagent",
			"companion_proxy",
			"configd",
			"coreduetd",
			"diagnosticd",
			"discoveryd_helper",
			"duetexpertd",
			"EscrowSecurityAlert",
			"familycircled",
			"familynotificationd",
			"findmydeviced",
			"fseventsd",
			"hangtracerd",
			"identityservicesd",
			"imagent",
			"IMRemoteURLConnectionAgent",
			"ind",
			"installd",
			"itunescloudd",
			"itunesstored",
			"kbd",
			"keybagd",
			"locationd",
			"lockbot",
			"lockdownd",
			"lsd",
			"misagent",
			"misd",
			"mmaintenanced",
			"mobileactivationd",
			"mobile_installation_proxy",
			"mobile_house_arrest",
			"mobile_assertion_agent",
			"mobileassetd",
			"MobileMail",
			"MobileNotes",
			"MobileActivationDaemon",
			"MobileGestaltHelper",
			"MobilePhone",
			"nanoregistryd",
			"nehelper",
			"networkd",
			"networkd_privileged",
			"nsurlsessiond",
			"nsurlstoraged",
			"OTAPKIAssetTool",
			"pfd",
			"pipelined",
			"pkd",
			"Preferences",
			"ptpd",
			"replayd",
			"routined",
			"sbd",
			"securityd",
			"Setup",
			"sharingd",
			"swcd",
			"symptomsd",
			"syncdefaultsd",
			"syslog_relay",
			"timed",
			"tipsd",
			"UserEventAgent",
			"wcd",
		);
	};
}
